.content-header
  .container
    %h1 Showing Volunteer
    %p
      = link_to 'Edit', edit_volunteer_path(@volunteer)
      %span.white
        |
      = link_to 'Back', volunteers_path
.container
  .content-container
    %p
      %strong Email:
      = @volunteer.email
    %p
      %strong First name:
      = @volunteer.first_name
    %p
      %strong Last name:
      = @volunteer.last_name
    %p
      %strong Zip code:
      = @volunteer.zip_code
