.content-header
  .container
    %h1 Your Profile
    %p= link_to 'Back to Dashboard', dashboard_path

.container
  .content-container
    = form_for current_user, url: user_path(current_user), method: :patch, html: { class: 'form-horizontal' } do |f|
      - if current_user.errors.any?
        #error_explanation
          %h2
            = pluralize(current_user.errors.count, "error")
            prohibited this profile from being saved:
          %ul
            - current_user.errors.full_messages.each do |message|
              %li= message
      .form-group
        = f.label :first_name, class: 'control-label col-md-3'
        .col-md-6
          = f.text_field :first_name, class: 'form-control'
      .form-group
        = f.label :last_name, class: 'control-label col-md-3'
        .col-md-6
          = f.text_field :last_name, class: 'form-control'
      .form-group
        = f.label :email, class: 'control-label col-md-3'
        .col-md-6
          = f.text_field :email, class: 'form-control'
      .form-group
        = f.label :phone, class: 'control-label col-md-3'
        .col-md-6
          = f.text_field :phone, class: 'form-control'
      .form-group
        = f.label :race, 'Race/Ethnicity', class: 'control-label col-md-3'
        .col-md-6
          = f.select :race, [['---', nil]] + User::RACE, {}, class: 'form-control'
      .form-group
        = f.label :familiar_communities, 'Communities You Know Well', class: 'control-label col-md-3'
        .col-md-6
          = f.text_area :familiar_communities, placeholder: "List all NJ communities that you're familiar with here (e.g. your hometown, a specific faith-based community)", rows: 4, class: 'form-control'
      .form-group
        = f.label :language_one, class: 'control-label col-md-3'
        .col-md-6
          = f.text_field :language_one, class: 'form-control'
      .form-group
        = f.label :language_two, class: 'control-label col-md-3'
        .col-md-6
          = f.text_field :language_two, class: 'form-control'
      .form-group
        = f.label :language_three, class: 'control-label col-md-3'
        .col-md-6
          = f.text_field :language_three, class: 'form-control'
      - if current_user.admin?
        .form-group
          = f.label :school_id, class: 'control-label col-md-3'
          .col-md-6
            = f.select :school_id, [['---', nil]] + School.order(:name).pluck(:name, :id), {}, class: 'form-control'
      - else
        .form-group
          %label.control-label.col-md-3 School
          .col-md-6
            .form-control= current_user.school_name
      .form-group
        .col-md-6.col-md-offset-3
          = f.submit nil, class: 'btn btn-primary'

  .content-container
    = form_for current_user, url: change_password_path, html: { class: 'form-horizontal' } do |f|
      .form-group
        = f.label :current_password, class: 'col-sm-3 control-label'
        .col-sm-6
          = f.password_field :current_password, class: 'form-control', placeholder: 'Current password'
          - if errors = current_user.errors[:current_password] and errors.present?
            .bs-callout.bs-callout-danger
              Please enter your
              %strong current
              password in order to set a new password.
      .form-group
        = f.label :password, class: 'col-sm-3 control-label'
        .col-sm-6
          = f.password_field :password, class: 'form-control', placeholder: "New password"
          - if errors = current_user.errors[:password] and errors.present?
            .bs-callout.bs-callout-danger
              Please enter a new password that is at least 8 characters long.
      .form-group
        .col-md-6.col-md-offset-3
          = f.submit 'Change Password', class: 'btn btn-primary'
