.content-header
  .container
    %h1
      Welcome
      = succeed '!' do
        = current_user.first_name.present? ? current_user.first_name : 'to your dashboard'

- unless current_user.profile_complete?
  .dashboard-alert
    .container
      %h3
        Looks like your profile is missing information - please
        = link_to 'update your profile', profile_path
        immediately!

.container
  .row
    .col-sm-3.col-xs-4
      .dashboard-icon
        = link_to new_conversation_path do
          = image_tag 'img/icons/conversations.png', class: 'img-responsive'
      %p.lead
        You've added
        = current_user.conversations.count
        connections so far
    .col-sm-3.col-xs-4
      .dashboard-icon
        = link_to new_appointment_path do
          = image_tag 'img/icons/appointment.png', class: 'img-responsive'
      %p.lead
        Your campus has
        = pluralize(Appointment.where(created_by_id: current_user.id).where("date > ?", Date.current).count, 'shift')
        coming up
    - if current_user.appointments.incomplete.present?
      .col-sm-3.col-xs-4
        .dashboard-icon
          = link_to incomplete_appointments_path do
            = image_tag 'img/icons/appointment.png', class: 'img-responsive'
        %p.lead
          You have incomplete shifts!
    .col-sm-3.col-xs-4
      .dashboard-icon
        - send_to = User.where(school: current_user.school, campus_captain: !current_user.campus_captain?).pluck(:email).join(',')
        = link_to "mailto:#{send_to}" do
          = image_tag 'img/icons/email.png', class: 'img-responsive'
      %p.lead
        Connect with your
        = current_user.campus_captain? ? 'volunteers' : 'campus captain'
    .col-sm-3.col-xs-4
      .dashboard-icon
        = link_to profile_path do
          = image_tag 'img/icons/settings.png', class: 'img-responsive'
      %p.lead
        Profile
  .row
    - if current_user.campus_captain?
      .col-sm-3
        .dashboard-icon
          = link_to new_volunteer_users_path do
            = image_tag 'img/icons/volunteer.png', class: 'img-responsive'
        %p.lead
          Your campus has registered
          = pluralize(User.where(school: current_user.school).count, 'volunteer')
    - if current_user.admin?
      .col-sm-3
        .dashboard-icon
          = link_to schools_path do
            = image_tag 'img/icons/volunteer.png', class: 'img-responsive'
