= form_for @conversation, html: { class: 'form-horizontal' } do |f|
  - if @conversation.errors.any?
    #error_explanation
      %h2
        = pluralize(@conversation.errors.count, "error")
        prohibited this conversation from being saved:
      %ul
        - @conversation.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :first_name, 'First name', class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :first_name, class: 'form-control'
  .form-group
    = f.label :last_name, 'Last name', class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :last_name, class: 'form-control'
  .form-group
    = f.label :email, 'Email address', class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :email, class: 'form-control'
  .form-group
    = f.label :phone_number, 'Phone number', class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :phone_number, class: 'form-control'
  .form-group
    = f.label :state, 'Status', class: 'control-label col-md-2'
    .col-md-10
      = f.select :state, Conversation::STATUS, {}, class: 'form-control'
  .form-group
    .col-md-10.col-md-offset-2
      = f.submit nil, class: 'btn btn-primary'
