%h1
  Your Conversations

%table.table.table-striped
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Email
      %th Phone Number
      %th Status
      %th{ colspan: 2 }
  %tbody
    - @conversations.each do |conversation|
      %tr
        %td= conversation.first_name if conversation.first_name.present?
        %td= conversation.last_name if conversation.last_name.present?
        %td= conversation.email if conversation.email.present?
        %td= conversation.phone_number if conversation.phone_number.present?
        %td= conversation.state if conversation.state.present?
        %td= link_to 'Edit', edit_conversation_path(conversation)
        %td= link_to 'Delete', delete_conversation_path(conversation), method: :post

= link_to 'New Conversation', new_conversation_path, class: 'btn btn-primary'
