.content-header
  .container
    %h1
      Conversation with
      = @conversation.name
    %p
      = link_to 'Edit', edit_conversation_path(@conversation)
      %span.white
        |
      = link_to 'Back', conversations_path

.container
  .content-container
    %p.lead= "This conversation started on #{@conversation.created_at.strftime('%m/%d/%y')} at #{@conversation.created_at.strftime('%l:%M%P')}"

    %table.table.table-striped
      %thead
        %th First Name
        %th Last Name
        %th Email
        %th Phone Number
        %th Status
      %tbody
        %td= @conversation.first_name if @conversation.first_name.present?
        %td= @conversation.last_name if @conversation.last_name.present?
        %td= @conversation.email if @conversation.email.present?
        %td= @conversation.phone_number if @conversation.phone_number.present?
        %td= @conversation.state if @conversation.state.present?
