.content-header
  .container
    %h1 User Show

.container
  .content-container
    %table.table.table-striped
      %thead
        %tr
          %th #
          %th First Name
          %th Last Name
          %th Email
      %tbody
        %tr
          %td= @user.id
          %td= @user.first_name if @user.first_name.present?
          %td= @user.last_name if @user.last_name.present?
          %td= @user.email

  .content-container
    %h2 Shifts
    %table.table.table-striped
      %thead
        %tr
          %th Date
          %th Volunteer
          %th Location
          %th Connections
      %tbody
        - @user.appointments.each do |appointment|
          %tr
            %td= appointment.date
            %td= appointment.user.name
            %td= appointment.location
            %td= appointment.conversations.count

  .content-container
    %h2 Connections
    %table.table.table-striped
      %thead
        %tr
          %th Date
          %th Shift
          %th Volunteer
          %th Name
          %th Completed?
          %th Status
      %tbody
        - @user.conversations.each do |conversation|
          %tr
            %td= conversation.created_at
            %td= conversation.appointment.present? ? link_to(conversation.appointment.location, conversation.appointment) : 'Unassigned'
            %td= conversation.user.name
            %td= conversation.name
            %td= conversation.complete?
            %td= conversation.state
