.row.person{ style: 'margin-top: 20px'}
	= image_tag 'icons/person.normal.red.png'
	= image_tag 'icons/person.normal.red.png', :style => "top:50px;"
	= image_tag 'icons/person.normal.red.png'
	= image_tag 'icons/person.normal.red.png', :style => "top:50px;"
	= image_tag 'icons/person.normal.blue.png'
	= image_tag 'icons/person.normal.red.png', :style => "top:50px;"
	= image_tag 'icons/person.normal.red.png'
	= image_tag 'icons/person.normal.blue.png', :style => "top:50px;"
	= image_tag 'icons/person.normal.red.png'
	= image_tag 'icons/person.normal.red.png', :style => "top:50px;"
	= image_tag 'icons/person.normal.red.png'
	= image_tag 'icons/person.normal.red.png', :style => "top:50px;"
.row.person{ style: 'margin-bottom: 100px'}
	= image_tag 'icons/person.normal.red.png'
	= image_tag 'icons/person.normal.blue.png', :style => "top:50px;"
	= image_tag 'icons/person.normal.red.png'
	= image_tag 'icons/person.normal.red.png', :style => "top:50px;"
	= image_tag 'icons/person.normal.red.png'
	= image_tag 'icons/person.excited.blue.png', :style => "top:50px;"
	= image_tag 'icons/person.normal.red.png'
	= image_tag 'icons/person.normal.red.png', :style => "top:50px;"
	= image_tag 'icons/person.normal.red.png'
	= image_tag 'icons/person.normal.red.png', :style => "top:50px;"
	= image_tag 'icons/person.normal.blue.png'
	= image_tag 'icons/person.normal.red.png', :style => "top:50px;"