.row.reset-layout.helvetica{ style: 'background-color: white; box-shadow: 0px 0px 7px rgba(0, 195, 255, .7);' }
  .col-md-10.col-md-offset-1
    %h1.f700.centered{ style: 'padding: 20px' }
      Far too often, people find that they lack health insurance
      %br
      %span.primary-red just when they need it.
    %p.lead.centered
      Living without health insurance means that every day is a gamble. Catastrophic medical expenses and bankruptcy are always just an injury or accident away.
    %p.lead.centered
      Most uninsured individuals know this. They know how precarious it is to be uninsured and want health insurance. They are, however, simply overwhelmed by the process of enrolling. For them, a helping hand and a one-on-one conversation can make all the difference.. What they need are helping hands and one-on-one conversations to help them make a well-informed decision about their health insurance options.
.row.reset-layout{ style: 'padding: 50px 0px 20px 0px;'}
  .col-sm-5{ style: 'padding: 0px 20px;'}
    %h1.centered
      %span.f700.primary-red{ style: 'opacity: .7'} Over 350,000
      New Jerseyans are uninsured.
  .col-sm-7
    .row.reset-layout.person
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
    .row.reset-layout.person
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
    .row.reset-layout.person
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
.row.reset-layout{ style: 'padding: 20px;'}
  .col-sm-5{ style: 'padding: 0px 20px;'}
    %h1.centered
      Many of them want insurance but simply feel overwhelmed by the process.
  .col-sm-7
    .row.reset-layout.person
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
    .row.reset-layout.person
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
    .row.reset-layout.person
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
    .row.reset-layout.person
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
.row.reset-layout{ style: 'padding: 20px;'}
  .col-sm-5{ style: 'padding: 0px 20px;'}
    %h1.centered
      Knowing that low-cost plans, financial support, and in-person help are available
      %span.primary-blue.f700 can mean the difference
      between enrolling and not enrolling.
  .col-sm-7
    .row.reset-layout.person
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.excited.blue.png'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.excited.blue.png'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
    .row.reset-layout.person
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.excited.blue.png'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.excited.blue.png'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
    .row.reset-layout.person
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.excited.blue.png'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.excited.blue.png'
      = image_tag 'icons/person.excited.blue.png'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
    .row.reset-layout.person
      = image_tag 'icons/person.excited.blue.png'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.excited.blue.png'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.blue.png', style: 'opacity: .7'
      = image_tag 'icons/person.normal.red.png', style: 'opacity: .7'
      = image_tag 'icons/person.excited.blue.png'
.row.reset-layout
  .col-sm-5{ style: 'padding: 0px 20px;'}
    %h1.centered
      That's where
      %span.f700.primary-blue Be Jersey Strong
      comes in.
  .col-sm-7
    .row.reset-layout.person.centered{style:'margin-left:-7%'}
      = image_tag 'icons/person.excited.blue.png'
      = image_tag 'icons/person.excited.blue.png'
      = image_tag 'icons/person.excited.blue.png'
      = image_tag 'icons/person.excited.blue.png'
      = image_tag 'icons/person.excited.blue.png'
      = image_tag 'icons/person.excited.blue.png'
      = image_tag 'icons/person.excited.blue.png'
    .row.reset-layout.person.centered{style:'margin-left:-7%'}
      = image_tag 'icons/person.excited.blue.png'
      = image_tag 'icons/person.excited.blue.png'
      = image_tag 'icons/person.excited.blue.png'
      = image_tag 'icons/person.excited.blue.png'
      = image_tag 'icons/person.excited.blue.png'
    .row.reset-layout.person.centered{style:'margin-left:-7%'}
      = image_tag 'icons/person.excited.blue.png'
      = image_tag 'icons/person.excited.blue.png'
      = image_tag 'icons/person.excited.blue.png'
