#slide1.row.reset-layout
  .col-sm-6.col-sm-offset-3
    = image_tag 'img/logo-color.png', class: 'img img-responsive'
  .col-sm-10.col-sm-offset-1.centered
    %h3
      “You may not appreciate the presence of good health, but you will definitely regret the absence of good health, because
      %span.primary-red 
        health is happiness
    %p.primary-blue
      \- Amit Kalantari
#slide2.row.reset-layout
  #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
    / Indicators
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
      %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
      %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
    / Wrapper for slides
    .carousel-inner{:role => "listbox"}
      .item.active
        %img{:alt => "...", :src => "http://placehold.it/350x150"}
        .carousel-caption
          Carousel 1
      .item
        %img{:alt => "...", :src => "http://placehold.it/350x200"}
        .carousel-caption
          Carousel 2
      .item
        %img{:alt => "...", :src => "http://placehold.it/350x250"}
        .carousel-caption
          Carousel 3
#slide3.row.reset-layout
  = render partial: 'people_display'
  %h1.centered
    In October, one thousand university students will convene across New Jersey in a grassroots movement to inform the state's citizens about their health care options.
  = link_to '#slide3' do
    .col-sm-2.col-sm-offset-1.centered.inner-slide-navigation
      %h3.f300 See Why
  = link_to '#slide3' do
    .col-sm-2.col-sm-offset-2.centered.inner-slide-navigation
      %h3.f300 See Where
  = link_to '#slide3' do
    .col-sm-2.col-sm-offset-2.centered.inner-slide-navigation
      %h3.f300 See When

#slide4.row.reset-layout
  .well.well-lg.col-md-8.col-md-offset-2
    %h2{:style => "line-height:32px; margin:11px;"} You can't just comb that out and reset it? It was the first taste of alcohol Buster had since he was nursing. Te quiero. English, please. I love you! Great, now I'm late. Do you have any idea how often you say the word "afraid"? Well, I know I used it in the Jacuzzi. Say something that will terrify me. Great, now I'm gonna smell to high heaven like a tuna melt! Steve Holt? The moron jock? I shall hide behind the couch. (Guy's a pro.)
    %h3.centered.primary-blue{:style => "padding-top:10px;"} 
      Dr. Tobias Funke
      = image_tag 'icons/person.normal.red.png', style: "height:50px; "
  .col-md-10.col-md-offset-1
    %h1.centered
      Far too often, people find that they lack health care
      %span.primary-red just when they need it.
  .col-sm-3.col-sm-offset-1
    .thumbnail
      .caption
        %h3.primary-blue Stat1
        %p A lot of people need healthcare
  .col-sm-3
    .thumbnail
      .caption
        %h3.primary-blue Stat2
        %p A lot of people need healthcare
  .col-sm-3
    .thumbnail
      .caption
        %h3.primary-blue Stat3
        %p A lot of people need healthcare

#slide5.row.reset-layout
  .col-sm-4
    = image_tag 'img/logo-color.png', style: 'height:100px;', class: 'img-responsive'
    %p One city
    %p Two city
    %p Red city
    %p Blue city
  .col-sm-8
    = image_tag 'img/jerseystrong_map_transparent.png', id: 'jerseystrong-map', class: 'img-responsive'

#slide6.row.reset-layout
  #emailForm.col-md-5.col-md-offset-1
    #email-list-signup
      %h1.centered-text Stay Up-to-date
      %p.lead.centered-text Join our mailing list to hear the most exciting updates and news about our progress!
      %form{:method => "post"}
        .form-group
          %label{:for => "email"} Email Address:
          %input.form-control{:name => "email", :type => "email" }
        %input#submit.btn.btn-primary.btn-lg{:name => "submit", :type => "submit" }
    #social-links
      %h2.centered-text Also, be sure to follow us!
      %button.btn.btn-default.btn-lg{:style => "background-color:rgba(255,255,255,.1);", :type => "button"}
        = image_tag 'icons/appbar.social.facebook.heart.png'
      %button.btn.btn-default.btn-lg{:style => "background-color:rgba(255,255,255,.1);", :type => "button"}
        = image_tag 'icons/appbar.social.twitter.png'
      %button.btn.btn-default.btn-lg{:style => "background-color:rgba(255,255,255,.1);", :type => "button"}
        = image_tag 'icons/appbar.social.linkedin.png'
      %button.btn.btn-default.btn-lg{:style => "background-color:rgba(255,255,255,.1);", :type => "button"}
        = image_tag 'icons/appbar.social.vimeo.png'
  / END COL6
  #emailForm.col-md-5.col-md-offset-1
    %h1.centered-text Contact Us
    %p.lead.centered-text Please get in touch, we'll get back to you as soon as we can!
    %form{:method => "post"}
      .form-group
        %input.form-control{:name => "name", :placeholder => "Your Name", :type => "text"}
      .form-group
        %input.form-control{:name => "email", :placeholder => "Email", :type => "email" }
      .form-group
        %input.form-control{:name => "subject", :placeholder => "Subject", :type => "text" }
      .form-group
        %textarea.form-control{:name => "comment", :placeholder => "Text"}
      %input#submit.btn.btn-primary.btn-lg{:name => "submit", :type => "submit", :value => "Send"}