= form_for @appointment, html: { class: 'form-horizontal' } do |f|
  - if @appointment.errors.any?
    #error_explanation.bs-callout.bs-callout-danger
      %h2
        = pluralize(@appointment.errors.count, "error")
        prohibited this shift from being saved:
      %ul
        - @appointment.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :date, nil, class: 'control-label col-md-2'
    .col-md-10
      = f.date_field :date, placeholder: 'yyyy-mm-dd', class: 'form-control'
      Please enter as
      %strong yyyy-mm-dd
  .form-group
    = f.label :start_time, nil, class: 'control-label col-md-2'
    .col-md-10
      = f.time_field :start_time, placeholder: 'hh:mm am/pm', class: 'form-control'
      Please enter as
      %strong hh:mm am/pm
  .form-group
    = f.label :end_time, nil, class: 'control-label col-md-2'
    .col-md-10
      = f.time_field :end_time, placeholder: 'hh:mm am/pm', class: 'form-control'
      Please enter as
      %strong hh:mm am/pm
  - if current_user.campus_captain?
    .form-group
      = f.label :user_id, 'Volunteer', class: 'control-label col-md-2'
      .col-md-10
        = f.select :user_id, User.where(school: current_user.school).collect{ |u| ["#{u.first_name} #{u.last_name} #{'(' + u.languages + ')' if u.languages.present?}", u.id]}, {}, class: 'form-control'
  - else
    = f.hidden_field :user_id, value: current_user.id
  .form-group
    = f.label :location, nil, class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :location, class: 'form-control'
  .form-group
    = f.label :address_line_one, nil, class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :address_line_one, class: 'form-control'
  .form-group
    = f.label :address_line_two, nil, class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :address_line_two, class: 'form-control'
  .form-group
    = f.label :zipcode, nil, class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :zipcode, class: 'form-control'
  .form-group
    = f.label :city, nil, class: 'control-label col-md-2'
    .col-md-10
      = f.text_field :city, class: 'form-control'
  - if @appointment.new_record?
    .form-group
      .col-md-10.col-md-offset-2
        = f.submit 'Create Shift', class: 'btn btn-primary'
  - else
    %hr
    .form-group
      = f.label :conversation_count, 'How many conversations did you have?', class: 'control-label col-md-4'
      .col-md-8
        = f.number_field :conversation_count, class: 'form-control'
    .form-group
      = f.label :contact_card_count, 'How many contact cards did you collect?', class: 'control-label col-md-4'
      .col-md-8
        = f.number_field :contact_card_count, class: 'form-control'
    .form-group
      = f.label :referral_count, 'How many referrals did you give?', class: 'control-label col-md-4'
      .col-md-8
        = f.number_field :referral_count, class: 'form-control'
    .form-group
      = f.label :followup_call_count, 'How many follow-up calls have you made/will you make?', class: 'control-label col-md-4'
      .col-md-8
        = f.number_field :followup_call_count, class: 'form-control'
    .form-group
      = f.label :results, 'Please add any other notes about this shift', class: 'control-label col-md-4'
      .col-md-8
        = f.text_area :results, class: 'form-control'
    .form-group
      .col-md-8.col-md-offset-4
        = f.submit 'Save Shift', class: 'btn btn-primary'
