.content-header
  .container
    %h1 Appointment
    %p.white
      = link_to 'Edit', edit_appointment_path(@appointment)
      |
      = link_to 'Back', appointments_path
.container
  .col-md-8
    = render @appointment
  .col-md-4
    - if @appointment.complete?
      %h4 Complete
      %ul
        %li= pluralize(@appointment.conversation_count, 'conversation')
        %li= pluralize(@appointment.contact_card_count, 'contact card')
        %li= pluralize(@appointment.referral_count, 'referral')
        %li= pluralize(@appointment.followup_call_count, 'follow-up call')
      %p= @appointment.results
    - else
      %h4 Incomplete

