!!!
%html
	%head
		%title Be Jersey Strong
		= favicon_link_tag 'favicon.ico'
		= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
		%link{:href => "http://fonts.googleapis.com/css?family=Averia+Serif+Libre:300,400,700", :rel => "stylesheet", :type => "text/css"}
		%link{:href => "//cdn-images.mailchimp.com/embedcode/classic-081711.css", :rel => "stylesheet", :type => "text/css"}
%body
	= render partial: 'layouts/navigation_top'
	#container-main.container-fluid{ style: 'margin: 0; padding: 0;' }
		#container-left
			= render partial: 'layouts/navigation_left'
		#container-right
			= render 'layouts/flash_messages'
			= yield
			%br
			%br
	-#= render partial: 'layouts/footer'
